body {
  margin: 0;
  padding: 0;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  font-family: 'Red Rose', cursive;
  width: max-content;
}

/* navigation section starts*/

.logo_img {
  margin-top: 51.14px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.link_btn {
  display: flex;
}

.nav_link {
  margin-top: 58px;
  margin-left: 163px;
}

.nav_link > a {
  text-decoration: none;
  margin-right: 48px;
  font-size: 20px;
  font-weight: 400px;
  color: #434343;
}

#nav_btn {
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  padding: 15px 26px 13px 27px;
}

#nav_btn {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400px;
}
#wallet_btn {
  margin-left: 137px;
  margin-top: 58px;
}

/* navigation section ends */

/* First Section starts */

.first_sect {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
  margin-left: 100px;
  margin-right: 100px;
}

.left_div {
  width: 646px;
}

#heading {
  font-weight: 400;
  font-size: 56px;
  color: #434343;
  height: 148px;
}



#paragraph {
  width: 636px;
  font-size: 24px;
  font-weight: 400;
  height: 102px;
  color: #434343;
}

.color_span {
  color: #A02279;
  font-weight: 700;
}

#search_field {
  height: 54px;
  width: 390px;
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;

}

#search_btn {
  height: 54px;
  width: 230px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0px 8px 8px 0px;;

}

.first_sect_btm {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  margin-top: 96.46px;

}
/* First Section Ends*/

/* Second Section Starts */
.second_sect {
  margin: 0 100px;
}


.second_sect > p {
  margin-top: 39px;
  margin-bottom: 59px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
}
 #grid > a {
  margin-bottom: 24px;
 }
#grp1 {
  grid-area: a;
}

#grp2 {
  grid-area: b;
}


#grp3 {
  grid-area: c;
}

#grp4 {
  grid-area: d;
}

#grp5 {
  grid-area: e;
}

#grp6 {
  grid-area: f;
}

#grp7 {
  grid-area: g;
}

#grp8 {
  grid-area: h;
}

#grid {
  display: grid;
  grid-template-areas: 
  "a b c d"
  "e f g h";
  grid-gap: 10px;
}

/*Second Section Ends */

/* Third Section Starts */

.third_sect {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

#third_sect_header {
  width: 346px;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.95px;
  height: 60px;
  margin-top: 186px;
  color: #FFFFFF;
  
}

#third_sect_para {
  width: 415px;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 57.55px;

}

.third_sect_div > a {
  text-decoration: none;
  color: #A02279;
  background-color: #FFFFFF;
  padding: 14px 33px;
  border-radius: 8px;
  
}

.third_sect_div {
  margin-left: 100px;
}

.third_sect_img {
  margin-top: 100px;
  margin-right: 99px;
}

/* Third Section Ends */

/*Footer Starts */

.footer {
  background-color: #1D1D1E;
  color: #FFFFFF;
  display: flex;
  height: 322px;
}

.left_footer_div {
  margin-left: 113px;
  height: 40px;
  width: 233px;
  margin-top: 62.88px;

}

.right_footer_div {
  display: flex;
  flex-direction: row;
  height: 169px;
  width: 698px;
  margin-left: 187px;
  margin-top: 63px;
  gap: 217px;
  justify-content: center;
}

.ft_hd {
font-size: 18px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
}


.footer_div > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  /* line-height: 13px;
  text-align: left; */
  color: #F1F3F9;
}

.div1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  align-items: center;
}

.div2 {
  line-height: 13px;
}

#footer_icons {
  margin-top: 96px;
  margin-bottom: 55px;
}

#footer_icons > a{
  margin-right: 32px;
}

#copyright > img {
  position: absolute;
}

#copyright > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7F7F7;
  position: relative;
  left: 10%;
  top: 82.92%;
}
/* @media screen and (max-width: 1024px) {

} */