* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  font-family: "Red Rose", cursive;
  width: max-content;
}

/* navigation section starts*/

.mobile_view {
  display: none;
}

.logo_img {
  margin-top: 51.14px;
}

.logo_img > img {
  width: 233px;
  height: 36.67px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.link_btn {
  display: flex;
}

.nav_link {
  margin-top: 58px;
  margin-left: 163px;
}

.nav_link > a {
  text-decoration: none;
  margin-right: 48px;
  font-family: "Red Rose";
  font-size: 20px;
  font-weight: 400px;
  color: #434343;
}

#nav_btn {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  padding: 15px 26px 13px 27px;
}

#nav_btn {
  text-decoration: none;
  color: #ffffff;
  font-family: "Red Rose";
  font-size: 16px;
  font-weight: 400px;
}
#wallet_btn {
  margin-left: 137px;
  margin-top: 58px;
}

/* navigation section ends */

/* First Section starts */

.first_sect {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
  margin-left: 100px;
  margin-right: 119px;
}

.left_div {
  width: 646px;
}

#heading {
  font-family: "Red Rose";
  color: #434343;
  height: 148px;
  font-size: 56px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: -0.02em;
}

#paragraph {
  width: 636px;
  font-family: "Red Rose";
  font-size: 24px;
  font-weight: 400;
  height: 102px;
  color: #434343;
}

.color_span {
  color: #a02279;
  font-family: "Red Rose";
  font-weight: 700;
}

.input_field {
  margin-top: 48.08px;
}

#search_field {
  height: 54px;
  width: 390px;
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  box-sizing: border-box;
  padding-left: 15px;
  font-family: "Red Rose";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #b8b8b8;
  line-height: 18.2px;
}

#search_btn {
  height: 54px;
  width: 230px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  font-family: "Red Rose";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.first_sect_btm {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  margin-top: 96.46px;
  height: 70px;
}

.first_sect_btm > img {
  margin: auto;
}

#first_sect_btm1 {
  width: 222px;
  height: 50px;
}

#first_sect_btm2 {
  width: 214.14px;
  height: 37.56px;
}

#first_sect_btm3 {
  width: 198.32px;
  height: 40.79px;
}
/* First Section Ends*/

/* Second Section Starts */
.second_sect {
  margin: 0 100px;
}

.second_sect > p {
  margin-top: 39px;
  margin-bottom: 59px;
  text-align: center;
  font-family: "Red Rose";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
}
#grp1 {
  grid-area: a;
  margin-bottom: 24px;
}

#grp2 {
  grid-area: b;
  margin-bottom: 24px;
}

#grp3 {
  grid-area: c;
  margin-bottom: 24px;
}

#grp4 {
  grid-area: d;
  margin-bottom: 24px;
}

#grp5 {
  grid-area: e;
}

#grp6 {
  grid-area: f;
}

#grp7 {
  grid-area: g;
}

#grp8 {
  grid-area: h;
}

#grid {
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f g h";
  grid-gap: 10px;
  margin-bottom: 53px;
}

/*Second Section Ends */

/* Third Section Starts */

.third_sect {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}

#third_sect_header {
  width: 346px;
  font-size: 48px;
  font-family: "Red Rose";
  font-weight: 700;
  line-height: 59.95px;
  height: 60px;
  margin-top: 186px;
  color: #ffffff;
}

#third_sect_para {
  width: 415px;
  font-family: "Red Rose";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 57.55px;
}

.third_sect_div > a {
  text-decoration: none;
  color: #a02279;
  background-color: #ffffff;
  padding: 14px 33px;
  border-radius: 8px;
}

.third_sect_div {
  margin-left: 100px;
}

.third_sect_img {
  margin-top: 100px;
  margin-right: 119px;
  margin-bottom: 112.71px;
}

/* Third Section Ends */

/*Footer Starts */

.footer {
  background-color: #1d1d1e;
  color: #ffffff;
  display: flex;
  height: 322px;
}

.left_footer_div {
  margin-left: 113px;
  height: 40px;
  width: 233px;
  margin-top: 62.88px;
}

.right_footer_div {
  display: flex;
  flex-direction: row;
  height: 169px;
  width: 698px;
  margin-left: 187px;
  margin-top: 63px;
  gap: 217px;
  justify-content: center;
}

.ft_hd {
  font-family: "Red Rose";
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.footer_div > a {
  text-decoration: none;
  font-family: "Red Rose";
  font-size: 14px;
  font-weight: 400;
  /* line-height: 13px;
  text-align: left; */
  color: #f1f3f9;
}

.div1,
.div2,
.div3 {
  font-family: "Red Rose";
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

.div1 > p {
  line-height: 16px;
}

.last_div > p {
  line-height: 17px;
  font-family: "Red Rose";
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

#footer_icons {
  margin-top: 96px;
  margin-bottom: 55px;
}

#footer_icons > a {
  margin-right: 32px;
}

#footer_img > img {
  width: 233px;
  height: 40px;
}

#copyright > img {
  position: absolute;
}

#copyright > p {
  font-family: "Red Rose";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #f7f7f7;
  position: relative;
  left: 10%;
  top: 82.92%;
}
@media screen and (max-width: 480px) {
  body {
    width: 400vw;
  }
  .navbar {
    display: none;
  }

  .logo_img {
    margin-top: 35px;
  }

  input[type="checkbox"] {
    display: none;
  }

  .hamburger {
    /* display: none; */
    font-size: 60px;
    user-select: none;
    text-align: right;
  }

  .mobile_view {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .menu {
    display: none;
    position: relative;
    background-color: #7e57c2;
    left: 0;
    text-align: center;
    border-radius: 8px;
    padding: 53px 60px;
    font-size: 26px;
    list-style: none;
    overflow: hidden;
  }

  li > a {
    text-decoration: none;
  }

  #top_list {
    margin-top: 15px;
  }

  #down_list {
    margin-bottom: 20px;
  }

  li a:hover {
    display: inline-block;
    background-color: #ffffff;
    transition: 0.3s ease;
  }
  #nav_btn {
    font-size: 26px;
  }

  .menu li {
    padding: 14px 16px;
    text-align: center;
  }

  .menu li + li {
    margin-top: 20px;
    clear: both;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }

  .first_sect {
    display: grid;
    margin-top: 138px;
    /* margin-left: auto;
    margin-right: auto;
    width: 900px; */
    justify-content: center;
  }

  .left_div {
    width: 1120px;
    text-align: center;
    margin: auto;
  }

  #heading {
    font-family: "Red Rose";
    color: #434343;
    height: 148px;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -0.02em;
  }

  #paragraph {
    width: 800px;
    font-family: "Red Rose";
    font-size: 70px;
    font-weight: 400;
    height: 102px;
    color: #434343;
    margin-top: 85px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .input_field {
    margin-top: 570px;
  }

  #search_field {
    height: 90px;
    width: 450px;
    border: 1px solid #a3a3a3;
    border-radius: 8px 0px 0px 8px;
    box-sizing: border-box;
    padding-left: 15px;
    font-family: "Red Rose";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #b8b8b8;
    line-height: 18.2px;
  }

  #search_btn {
    height: 90px;
    width: 300px;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    box-sizing: border-box;
    border: none;
    color: #ffffff;
    font-family: "Red Rose";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }

  .right_div {
    margin: auto;
    margin-top: 70px;
  }

  .right_div > img {
    width: 1000px;
  }

  #grid {
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h";
    gap: 50px;
    text-align: center;
  }

  .group > img {
    width: 600px;
  }

  .third_sect {
    display: grid;
  }

  .third_sect, 
  .footer,
  .first_sect_btm {
    width: 400vw;
  }

  .third_sect_div {
    width: 1120px;
    text-align: center;
  
  }

  .third_sect_div > a {
    position: relative;
    top: 40px;
  }

  #third_sect_header, #third_sect_para {
    width: 1120px;
    text-align: center;
  }

  #third_sect_header {
    font-size: 70px;
    margin-bottom: 30px;
  }

  #third_sect_para {
    font-size: 30px;
    line-height: 40px;
    width: 820px;
    margin: auto;
  }

  .third_sect_img a img {
    display: none;
  }

  .footer {
    display: grid;
    height: 300vh;
  }

  #footer_img > img {
    width: 560px;
    height: 100px;
  }

  #footer_icons {
    width: 350px;
  }

  .footer_icons_img > img {
    width: 60px;
    margin-right: 20px;
  }

  #copyright {
    width: 415px;
  }

  #copyright > p {
    font-size: 60px;
    line-height: 60px;
    position: relative;
    left: 20%;
    top: 82.92%;
  }

  #copyright > img {
    width: 60px;
  }
  .right_footer_div {
    display: grid;
    flex-direction: row;
    height: 169px;
    width: 698px;
    margin-left: 100px;
    /* margin-top: 63px; */
    gap: 50px;
    justify-content: left;
    position: relative;
    bottom: 250px;
  }

  .footer_div > a {
    font-size: 40px;
  }

  .ft_hd {
    font-size: 40px;
    line-height: 100px;
  }

  .div1 > p, .last_div > p{
    line-height: 50px;
  }

  .last_div > p {
    font-size: 40px;
  }


}
