/* Header link Starts */

.header_link {
  margin-top: 135px;
  margin-left: 100px;
}

.header_link > a {
  text-decoration: none;
  margin-right: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #434343;
}
#location {
  height: 48px;
  width: 161px;
  top: 206px;
  border-radius: 8px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

#location_icon {
  position: relative;
}
/*Header Link Ends */

/* Gallery Starts */
.gallery {
  margin: 0 100px;
  margin-top: 75px;
  margin-bottom: 92px;
}

#grp1 {
  grid-area: a;
}

#grp2 {
  grid-area: b;
}

#grp3 {
  grid-area: c;
}

#grp4 {
  grid-area: d;
}

#grp5 {
  grid-area: e;
}

#grp6 {
  grid-area: f;
}

#grp7 {
  grid-area: g;
}

#grp8 {
  grid-area: h;
}
#grp9 {
  grid-area: i;
}

#grp10 {
  grid-area: j;
}

#grp11 {
  grid-area: k;
}

#grp12 {
  grid-area: l;
}

#grp13 {
  grid-area: m;
}

#grp14 {
  grid-area: n;
}

#grp15 {
  grid-area: o;
}

#grp16 {
  grid-area: p;
}

#gallery_grid {
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p";
  grid-gap: 24px;
}

@media screen and (max-width: 480px) {
  #gallery_grid {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m"
      "n"
      "o"
      "p";
    grid-gap: 24px;
    text-align: center;
  }

  .grp > img {
    width: 900px;
  }

  .header_link > a {
    text-decoration: none;
    margin-right: 48px;
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #434343;
  }

  .header_link {
    display: grid;
    justify-content: center;
  }

  #location_div {
    text-align: center;
    margin-top: 30px;
  }

  #location {
    height: 109px;
    width: 450px;
    font-size: 40px;
  }

  #location_icon {
    width: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    top: 20px;
  }
}
